/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
/*.main-menu__item,*/
/*.aside-menu__item,*/
/*.breadcrumbs-menu__item {*/
  /*display: none;*/
/*}*/
/*input:checked ~ .menu .main-menu__item,*/
/*input:checked ~ .menu * .aside-menu__item,*/
/*input:checked ~ .menu * .breadcrumbs-menu__item {*/
  /*display: flex;*/
/*}*/

